name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4', '4.0']
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6.0.2
      - name: 'Set up Ruby'
        uses: ruby/setup-ruby@v1.287.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: 'Run the default task'
        run: bundle exec rake
      - name: 'Coveralls Parallel'
        uses: coverallsapp/github-action@v2.3.7
        with:
          flag-name: ruby-${{ matrix.ruby }}
          parallel: true

  yard_lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: Yard Lint
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6.0.2
      - name: 'Set up Ruby'
        uses: ruby/setup-ruby@v1.287.0
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: 'Run yard-lint'
        run: bundle exec yard-lint lib/

  coveralls_finish:
    runs-on: ubuntu-latest
    needs: build
    if: always()
    steps:
      - name: 'Finalize Coveralls'
        uses: coverallsapp/github-action@v2.3.7
        with:
          parallel-finished: true
