name: Publish

on:
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v5.0.1
      - name: 'Set up Ruby'
        uses: ruby/setup-ruby@v1.268.0
        with:
          bundler-cache: true
          ruby-version: ruby
      - name: 'Release Gem'
        uses: rubygems/release-gem@v1
